# Created by https://www.toptal.com/developers/gitignore/api/cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

# End of https://www.toptal.com/developers/gitignore/api/cypressio
a*/bundle-size-report.md
a*/bundle-size-pr-comment.md
a*/source-map-explorer*.json
# Manual edits
# - Add bundle size report markdown file
# - Add source map explorer results JSON
