name: Lint
on:
  workflow_call:

permissions:
  contents: none

jobs:
  code:
    name: Code
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run linter
        run: pnpm run lint:code

  github-actions:
    name: GitHub Actions
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Run GitHub Actions linter
        uses: docker://rhysd/actionlint:latest@sha256:ef8299f97635c4c30e2298f48f30763ab782a4ad2c95b744649439a039421e36
        with:
          args: -color

  commit-messages:
    name: Commit messages
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Calculate PR commits + 1
        # https://github.com/actions/checkout/issues/520#issuecomment-1167205721
        run: echo "pr_commits_plus_one=$(( ${{ github.event.pull_request.commits }} + 1 ))" >> "${GITHUB_ENV}"
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: ${{ env.pr_commits_plus_one }}
      - name: Setup
        uses: ./.github/actions/setup
      - name: Lint last commit
        if: github.event_name == 'push'
        run: pnpm run commitlint-last
      - name: Lint all PR commits
        if: github.event_name == 'pull_request'
        run: |
          pnpm commitlint \
            --from ${{ github.event.pull_request.base.sha }} \
            --to ${{ github.event.pull_request.head.sha }} \
            --verbose

  unused:
    name: Unused
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run
        run: pnpm run lint:unused
