name: Style
on:
  workflow_call:

permissions:
  contents: none

jobs:
  build:
    name: Format check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Format check
        run: pnpm run format:check
