name: Lint
on:
  workflow_call:
    inputs:
      ref:
        description: Git reference to checkout. Defaults to @actions/checkout default.
        type: string
        required: false
        default: ''

jobs:
  code:
    name: Code
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: ${{ inputs.ref }}
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run linter
        run: cd .ci && make lint
